<!DOCTYPE html>
<html>
  <head>
    <title>DJ_Reddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <ul>
     <li><%= link_to 'Submit post', new_post_path %></li>
     <li><%= link_to 'Account', new_post_path %></li>
     <li><%= link_to 'Sign out', new_post_path %></li>

     <li><%= link_to 'Sign up', new_post_path  %></li>
     <li><%= link_to 'Sign in', new_post_path %></li>
    </ul>
    
    <%= yield %>
  </body>
</html>
